
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Trirong", sans-serif;
$font-size-base: 0.75rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

body{
    font-family: "Trirong"!important;
}
.navbar{
    padding: 0px!important;
}
.btn-primary{
    background-color: #20a8d8 !important
}
