
// Fonts
@import url('https://fonts.googleapis.com/css?family=Trirong');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// CoreUI
//@import '~@coreui/coreui/dist/css/coreui.css';
@import "~@coreui/coreui/scss/coreui";

// Icons
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import '~jquery-ui/themes/base/all.css';

@media (min-width: 768px){
    .main{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
}

.form-control{
  color: #000!important;
}

.form-group-error input{
    border: 1px solid red;
    background-color: #ffc9aa;

}
.form-group-error div.error {
    color: red;
}
.v-switch-label{
    line-height: 35px!important;
    font-size: 1em!important;
  }
.time-input{

    width: 100%!important;

    padding: 0.375rem 0.75rem!important;

    font-weight: 400!important;
    line-height: 1.6!important;
    color: #000000!important;
    background-color: #fff!important;
    background-clip: padding-box!important;
    border: 1px solid #e4e7ea!important;
    border-radius: 0.25rem!important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
}
.vdatetime-popup__year{
  text-align: center;
  margin: auto!important;
  font-size: 16px!important;
  font-weight: bold!important;
  border: 1px solid #fff!important;
  max-width: 150px!important;
  border-radius: 5px!important;
}
.vdatetime-popup__date{  
  text-align: center;
}
.vdatetime-popup__header{
  text-align: center!important;
}
.theme-blue .vdatetime-popup__header,
.theme-blue .vdatetime-calendar__month__day--selected > span > span,
.theme-blue .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #3490dc!important;
}
.theme-blue .vdatetime-year-picker__item--selected,
.theme-blue .vdatetime-time-picker__item--selected,
.theme-blue .vdatetime-popup__actions__button {
  color: #3490dc!important;
}


.nav-tabs .nav-link{  
  color: #000!important;
}

.nav-tabs .nav-link.active,.nav-tabs .nav-link.active>h6{  
  color: rgb(6, 51, 94)!important;
  font-weight: bold!important;
}

.require{
    color: #ff0000;
}
@page {
    size: landscape;
}
@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
    -webkit-print-color-adjust: exact;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
  @page {
      size: landscape;
    }
}
