
// Fonts
@import url('https://fonts.googleapis.com/css?family=Trirong');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// CoreUI
//@import '~@coreui/coreui/dist/css/coreui.css';
@import "~@coreui/coreui/scss/coreui";

// Icons
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


@media (min-width: 768px){
    .main{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
}

.form-group-error input{
    border: 1px solid red;
    background-color: #ffc9aa;

}
.form-group-error div.error {
    color: red;
}
.v-switch-label{
    line-height: 35px!important;
    font-size: 1em!important;
  }
